<h1 class="well">you are assigning a new client to $stylist.getName()</h1>

<form action="/stylists/$stylist.getId()" method="post">

    <input id="stylistId" name="stylistId" type="hidden" value="$stylist.getId()">

    <label for="name">New client:</label>
    <input id="name" name="name" type="text" class="form-control">
    <hr/><button type="submit" class="btn btn-success">Add client</button>
</form>
