<p></p>
<div class="jumbotron">
  <h1>Manage Your Clients</h1>
  <p>This app has a customizable database to help keep track of stylists and clients.
  You may enter all of your business' stylists, and then assign clients to to
  those employees.</p>
  <p><a class="btn btn-success btn-lg" href="/stylists" role="button">View Stylist List</a></p>
  <p><a class="btn btn-primary btn-lg" href="/stylists/new" role="button">Add a New Stylist</a></p>
</div>
