<h1 class="well">Add a Stylist</h1>

<form action="/stylists" method="post">
  <label for="name">Stylist name:</label>
  <input id="name" name="name" type="text">

  <label for="phone">Stylist phone number:</label>
  <input id="phone" name="phone" type="text">

  <button type="submit" class="btn btn-success">Add Stylist</button>
</form>
